{% extends 'App/base.html' %}

{% load static %}

{% block title %} Cursos {% endblock title %}

{% block main %}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'App/assets/img/01.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Cursos</h2>
                    {% for curso in cursos %}
                        <li>Curso: {{ curso.nombre }} | Camada: {{ curso.camada }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'App/assets/img/02.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Añadir Curso</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <table>
                            {{ mi_formulario.as_table }}
                        </table>
                        <input type="submit" value="Enviar">
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}